{% extends parent_template|default:"organiser/base_organiser.html" %}

{% block title %}
    {{ block.super }} - Update Newslink
{% endblock %}

{% block content %}
    <div>
        <div>
            <form action = "{{ newslink.get_update_url }}" method = "POST">
                {% csrf_token %}
                {% for field in form %}
                    {{ field.errors }}
                    <p>
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            {{ field.help_text }}
                        {% endif %}
                    </p>
                {% endfor %}
                <button type = "submit">Update Newslink</button>
            </form>
        </div>
    </div>
{% endblock %}